body {
	margin: 0;
	padding: 0;
	font-family: georgia, serif;
	font-size: 1em;
}

header {
	background: #456; 
	color: white;
	padding: 2px;
	text-align: center;
}

footer {
	background: #789; 
	color: #def; 
	text-align: right;
	padding: 5px;
}

#wrapper {
	margin: 0;
	padding: 10px;
}

.feature {
	background: #e6e9ec; 
	padding: 10px; 
	border-radius: 4px; 
	margin: 5px;
	height: 150px;
}

.feature h3 {
	color:green;
	font-family: helvetica, arial, sans-serif;
}

.bold {
	font-weight: bold;
}